
<!-- 滑动特效 -->

<!-- Add this css File in head tag-->
<!-- <link href="font-awesome.min.css" rel="stylesheet" media="all">
<link href="animate.min.css" rel="stylesheet" media="all"> -->


<!--
If you want to change #bootstrap-touch-slider id then you have to change Carousel-indicators and Carousel-Control  #bootstrap-touch-slider slide as well
Slide effect: slide, fade
Text Align: slide_style_center, slide_style_left, slide_style_right
Add Text Animation: https://daneden.github.io/animate.css/
-->


<!-- <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" > -->

  <!-- Indicators -->
  <!-- <ol class="carousel-indicators">
    <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
    <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
    <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
  </ol> -->

  <!-- Wrapper For Slides -->
  <!-- <div class="carousel-inner " role="listbox"> -->

    <!-- first Slide -->
    <!-- <div class="item active"> -->

      <!-- Slide Background -->
      <!-- <img src="images/zhuo25.jpg" alt="Bootstrap Touch Slider"  class="slide-image" />
      <div class="bs-slider-overlay"></div> -->
      <!-- Slide Text Layer -->
      <!-- <div class="slide-text slide_style_center">
        <h1 data-animation="animated flipInX">little squirrel</h1>
        <p data-animation="animated lightSpeedIn">童品共享</p>
        <a class="btn btn-default" href="/products">立即选购</a>

      </div>
    </div> -->
    <!-- End of Slide -->

    <!-- Second Slide -->
    <!-- <div class="item"> -->

      <!-- Slide Background -->
      <!-- <img src="images/zhuo100.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
      <div class="bs-slider-overlay"></div>

      <div class="container">
        <div class="row"> -->
          <!-- Slide Text Layer -->
          <!-- <div class="slide-text slide_style_left">
            <h1 data-animation="animated zoomInRight">little squirrel</h1>
            <p data-animation="animated fadeInLeft">有温度的流动。。</p>
            <a class="btn btn-primary" href="/products">立即选购</a>

          </div>
        </div>
      </div>
    </div> -->
    <!-- End of Slide -->

    <!-- Third Slide -->
    <!-- <div class="item"> -->

      <!-- Slide Background -->
      <!-- <img src="images/zhuo26.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
      <div class="bs-slider-overlay"></div> -->
      <!-- Slide Text Layer -->
      <!-- <div class="slide-text slide_style_right">
        <h1 data-animation="animated zoomInLeft">little squirrel</h1>
        <p data-animation="animated fadeInRight">有分享的乐趣。。。</p>
        <a href="/products" class="btn btn-default" >立即选购</a>

      </div>
    </div> -->

    <!-- End of Slide -->


  </div><!-- End of Wrapper For Slides -->

  <!-- Left Control -->
  <!-- <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
    <span class="fa fa-angle-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a> -->

  <!-- Right Control -->
  <!-- <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
    <span class="fa fa-angle-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->

</div> <!-- End  bootstrap-touch-slider Slider -->

<!-- <div style="text-align: center;margin-top: 150px; margin-bottom:100px"><h3>这里是 <a href=""target="_blank"> 生活家聚集地 </a> 童品共享站 ;)</h3> / 趣味相投 <a  target="_blank">  有你所需 </a></div> -->
<script >
// $(window).scroll(function() {
//   var scroll = $(window).scrollTop();
//   $("header").css({
//     opacity: 0.5 + (scroll/200)
//   });
// });
// </script>
<!-- 以上滑动特效 -->

<div class="welcome-box">
  <!--===== 广告轮播 =====-->
  <section class="intro-box">
    <div class="row">
      <div class="col-md-12">
        <div id="intro" class="carousel slide" data-ride="carousel">
          <!--===== 轮播按钮 =====-->
          <ol class="carousel-indicators">
            <li data-target="#intro" data-slide-to="0" class="active"></li>
            <li data-target="#intro" data-slide-to="1"></li>
            <li data-target="#intro" data-slide-to="2"></li>
          </ol>

          <!--===== 轮播内容 =====-->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= link_to '#', target: "_blank" do %> <!-- 图片连结，点击另开视窗 -->
                <%= image_tag("zhuo25.jpg") %> <!-- 图片位置 -->
                <div class="carousel-caption">
                  <h3>品味生活</h3> <!-- 标题 -->
                  <p>打造优质烹饪环境，让生活更有趣</p> <!-- 内文 -->
                </div>
              <% end %>
            </div>
            <div class="item">
              <%= link_to '#', target: "_blank" do %>
                <%= image_tag("zhuo100.jpg") %>
                <div class="carousel-caption">
                  <h3>创造美食</h3>
                  <p>最新创意食谱，每天都充满变化</p>
                </div>
              <% end %>
            </div>
            <div class="item">
              <%= link_to '#', target: "_blank" do %>
                <%= image_tag("zhuo26.jpg") %>
                <div class="carousel-caption">
                  <h3>精选厨具</h3>
                  <p>优质进口厨具，做菜更加便利</p>
                </div>
              <% end %>
            </div>
          </div>

          <!--===== 换页按钮 =====-->
          <a class="left carousel-control" href="#intro" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span> <!-- 左侧按钮图示 -->
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#intro" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span> <!-- 右侧按钮图示 -->
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>

<!--===== 品牌故事 =====-->
<section class="story-box">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>品牌故事</h2> <!-- 区块标题 -->
      <h1>little Squirrel</h1> <!-- 品牌名称 -->
      <div class="short-line"></div> <!-- 分隔线 -->
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <%= image_tag("z3.jpg") %> <!-- 创办人头像 1 -->
        </div>
        <div class="col-md-7">
          <h3>Victor</h3> <!-- 创办人姓名 -->
          <p>我們希望能為大家帶來種類多樣、價格低廉並且設計獨特，且讓大多數人可以負擔的起的家具家飾品，爲了實現這樣的想法，我們從產品設計、原料採購、生產製造，到在分店中的經營，都不斷在創新和尋求改善。 </p> <!-- 创办人介绍 -->
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-7 col-md-offset-1">
          <h3>Kelly</h3> <!-- 创办人姓名 -->
          <p>我們知道如果要提供顧客便宜、品質又好的商品，企業必須有效的管理成本及運用創新的製造方法，這是從未改變的信念，最有效的利用原料，尋找更經濟、更有效率及更有創意的製作或包裝方式，降低成本，回饋給大家! </p> <!-- 创办人介绍 -->
        </div>
        <div class="col-md-3">
          <%= image_tag("z9.jpg") %> <!-- 创办人头像 2 -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 品牌故事end -->

<!--===== 服务优势 =====-->
<section class="service-box">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>服务优势</h2> <!-- 副标题 -->
      <div class="short-line"></div> <!-- 分隔线 -->
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="box">
            <%= image_tag("service_1.png") %> <!-- 图示 -->
            <h3>品质保证</h3> <!-- 标题 -->
            <p>本店的商品皆通过市场验证，使用最高级的材料制作而成，品质为业界领先标准。</p> <!-- 内文 -->
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="box">
            <%= image_tag("service_2.png") %>
            <h3>快速送达</h3>
            <p>全国皆享有当天下单、隔日送达的服务，过程中有任何损坏皆由我们负责，请放心购买。</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="box">
            <%= image_tag("service_3.png") %>
            <h3>安心使用</h3>
            <p>设计皆考量人体工学及真实使用情境，使用起来更安心。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 服务优势end -->


<!-- 交易分类区 -->
<section class="categories-box">
  <div class="row">
    <div class="col-md-4 category-content">
      <%= link_to '#' , class: "category_1" do %> <!-- 分类连结 -->
      <div class="category-box">
        <%= image_tag("zhuo33.jpg") %> <!-- 分类图片 -->
      </div>
      <div>
        <h3>免费区，易货区</h3> <!-- 分类标题 -->
        <p>不鏽鋼材質便於清洗，不怕碰撞，緻密紋理相當迷人。鍋體兩側都有尖口，左右撇子都好用。可以煮兩到三人份的奶茶、一人份的湯麵、粥類，料理後亦可直接端上桌，可愛又方便！</p> <!-- 分类介绍 -->
      </div>
      <% end %>
    </div>
    <div class="col-md-4 category-content">
      <%= link_to '#' , class: "category_2" do %>
      <div class="category-box">
        <%= image_tag("zhuo57.jpg") %>
      </div>
      <div>
        <h3>十元店</h3>
        <p>工房Aizawa最受歡迎的牛奶鍋，由創立於大正11年、以製作金屬食器聞名的老舖Aizawa工房製作而成。在職人們的手中，金屬冷硬的質感，帶上了手工製作的細緻與溫度。</p>
      </div>
      <% end %>
    </div>
    <div class="col-md-4 category-content">
      <%= link_to '#' , class: "category_3" do %>
      <div class="category-box">
        <%= image_tag("zhuo56.jpg") %>
      </div>
      <div>
        <h3>交易区</h3>
        <p>相較於琺瑯和陶瓷材質的牛奶鍋，不鏽鋼的質感多了一點硬派的感覺，鍋體上細緻的金屬紋理相當迷人。由白梣木手工製成的木柄，如同松鼠尾巴般圓潤好握、防燙，傾倒的角度也相當順手。</p>
      </div>
      <% end %>
    </div>
  </div>
</section>
<!-- 分类区end -->

<!--===== 用户反馈 =====-->
<section class="feedback-box">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>用户反馈</h2> <!-- 副标题 -->
      <div class="short-line"></div> <!-- 分隔线 -->
      <div id="feedback" class="carousel slide" data-ride="carousel">
        <!--===== 轮播按钮 =====-->
        <ol class="carousel-indicators">
          <li data-target="#feedback" data-slide-to="0" class="active"></li>
          <li data-target="#feedback" data-slide-to="1"></li>
          <li data-target="#feedback" data-slide-to="2"></li>
        </ol>

        <!--===== 轮播内容 =====-->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <p>这是我用过最好的网站，商品众多、下单方便、送货快速，还能订制特殊规格的锅具，强力推荐。</p>
            <%= image_tag("zhuo68.jpg") %> <!-- 图片 -->
            <strong>Eddie - 上班族</strong> <!-- 介绍 -->
          </div>
          <div class="item">
            <p>我是这网站的忠实用户，已经在这买好几年了，质量一直很好，而且不定时会有折扣，真的很划算！</p>
            <%= image_tag("zhuo2.jpg") %>
            <strong>Anna - 家庭主妇</strong>
          </div>
          <div class="item">
            <p>身为一个学生，预算不太多，却也能在这找到便宜又有设计感的器皿，让我生活又添加一份乐趣。</p>
            <%= image_tag("z3.jpg") %>
            <strong>Kobe - 大学生</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--===== 立即购买 =====-->
<section class="push-box">
  <div class="row">
    <div class="col-md-12">
      <%= link_to('立即购买', products_path, class:'btn btn-push' ) %>
    </section>
  </div>
  <!-- 立即购买end -->
